In [21]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [23]:
page = 1
Car_names = []
price = []

df = pd.DataFrame(columns =['Car_Name', 'Price'])
while page < 5:
    response = requests.get("https://www.letgo.com/en-us/c/cars/page/"+str(page), timeout = 25)
    content = response.content
    parser = BeautifulSoup(content, 'html.parser')
    parser
           #getting model names
    models = parser.find_all("p", class_="sc-iwsKbI euBvuX FeedListCarItemstyle__HeadingName-sc-1qq24gt-2 VRiGk")

    for model in models:
        Car_names.append(model.text)
        print(Car_names)
    #
    prices = parser.find_all("p", class_ = "sc-iwsKbI esHnYe FeedListCarItemstyle__HeadingPrice-sc-1qq24gt-1 suJmq")
    for p in prices:
        price.append(p.text)
        
    print(len(Car_Names))
    
    page += 1

['1998 Chevrolet C1500 CHEYENNE XC SWB']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe', '2004 Chevrolet Malibu Base']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe', '2004 Chevrolet Malibu Base', '2014 Hyundai Accent SE 5-Door 6-Speed Automatic']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe', '2004 Chevrolet Malibu Base', '2014 Hyundai Accent SE 5-Door 6-Speed Automatic', '2016 Toyota Camry Black sedan']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe', '2004 Chevrolet Malibu Base', '2014 Hyundai Accent SE 5-Door 6-Speed Automatic', '2016 Toyota Camry Black sedan', '2010 Volkswagen GTI']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe', '2004 Chevrolet Malibu Base', '2014 Hyundai Accent SE 5-Door 6-Speed Automatic', '2016 Toyota Camry Black sedan', '2010 Volkswagen GTI', '2017 Chevy Chevrolet Impala Silver Ice Metallic sedan']
['1998 Chevrolet C1500 CHEYENNE XC SWB', '2016 Chevrolet Malibu', '2014 Chevrolet Spark EV 1LT 1SA', 'Buick Verano low miles clean title commuter gas saver luxurious', '2005 Jeep Grand Cherokee', '2017 Mazda Mazda3 5Door Machine Gray Metallic hatchback', 'Maserati Quattroporte 2016', '1962 Austin Healey 3000 Mark II BT7', '2005 Nissan 350Z clean title automatic 35th Aniversary', '2012 Dodge Charger', '2005 GMC Envoy XL 4WD SLT', '2012 Honda Civic SI', 'Toyota 4Runner 2004', 'Chevrolet Impala 2014', '2004 Audi A4 1.8T', '2017 Audi A4 White sedan', 'Chevrolet Camaro 1991', '2011 FORD ECONOLINE WAGON', '2015 Jeep Grand Cherokee Brilliant Black Crystal Pearlcoat hatchback', '2007 Land Rover Range Rover Sport', '2008 Honda Odyssey EX-L w/DVD Rear Entertainment System', '2016 Hyundai Tucson Sedona Sunset hatchback', '1977 Dodge 600', 'Honda Civic Coupe 2016', '1997 Nissan Truck', '1996 Chevrolet Tahoe', '2004 Chevrolet Malibu Base', '2014 Hyundai Accent SE 5-Door 6-Speed Automatic', '2016 Toyota Camry Black sedan', '2010 Volkswagen GTI', '2017 Chevy Chevrolet Impala Silver Ice Metallic sedan', '2012 Ford Fiesta']

NameError: name 'Car_Names' is not defined

In [ ]:
# page = 31
# while page < 40:
#     response = requests.get("https://www.letgo.com/en-us/c/cars/page/"+str(page), timeout = 25)
#     content = response.content
#     parser = BeautifulSoup(content, 'html.parser')
#     parser
#        #getting model names
#     models = parser.find_all("p", class_="sc-iwsKbI euBvuX FeedListCarItemstyle__HeadingName-sc-1qq24gt-2 VRiGk")

#     for model in models:
#         Car_names.append(model.text)
#         print(Car_names)
#     #
#     prices = parser.find_all("p", class_ = "sc-iwsKbI esHnYe FeedListCarItemstyle__HeadingPrice-sc-1qq24gt-1 suJmq")
#     for p in prices:
#         price.append(p.text)
    
#     page += 1

In [24]:
df = pd.DataFrame(list(zip(Car_names, price)), 
       columns =['Car_Name', 'Price']) 
df
df.to_csv(r'D:\MSBA Semester 3\big_data.csv')
df

                                             Car_Name    Price
0                1998 Chevrolet C1500 CHEYENNE XC SWB   $3,500
1                               2016 Chevrolet Malibu   $9,500
2                     2014 Chevrolet Spark EV 1LT 1SA   $5,500
3   Buick Verano low miles clean title commuter ga...  $10,200
4                            2005 Jeep Grand Cherokee   $3,200
5   2017 Mazda Mazda3 5Door Machine Gray Metallic ...  $19,340
6                          Maserati Quattroporte 2016  $38,995
7                 1962 Austin Healey 3000 Mark II BT7  $57,990
8   2005 Nissan 350Z clean title automatic 35th An...   $6,700
9                                  2012 Dodge Charger   $4,860
10                          2005 GMC Envoy XL 4WD SLT     $500
11                                2012 Honda Civic SI  $11,800
12                                Toyota 4Runner 2004  $10,799
13                              Chevrolet Impala 2014  $14,999
14                                  2004 Audi A4 1.8T   $3,800
15                           2017 Audi A4 White sedan  $19,950
16                              Chevrolet Camaro 1991  $11,500
17                          2011 FORD ECONOLINE WAGON  $15,988
18  2015 Jeep Grand Cherokee Brilliant Black Cryst...  $18,370
19                  2007 Land Rover Range Rover Sport   $7,800
20  2008 Honda Odyssey EX-L w/DVD Rear Entertainme...   $7,200
21        2016 Hyundai Tucson Sedona Sunset hatchback  $17,150
22                                     1977 Dodge 600   $1,000
23                             Honda Civic Coupe 2016  $16,999
24                                  1997 Nissan Truck     $600
25                               1996 Chevrolet Tahoe   $1,000
26                         2004 Chevrolet Malibu Base   $1,700
27    2014 Hyundai Accent SE 5-Door 6-Speed Automatic   $1,595
28                      2016 Toyota Camry Black sedan  $16,290
29                                2010 Volkswagen GTI   $5,000
30  2017 Chevy Chevrolet Impala Silver Ice Metalli...  $16,950
31                                   2012 Ford Fiesta   $4,500
32                                  BMW 3 Series 2007   $6,900
33                                     HUMMER-H2-2003  $14,990
34                                 2018 Honda CR-V LX  $23,997
35             2017 Hyundai Sonata Nouveau Blue sedan  $13,350

In [25]:
pattern = r"([0-9]{4})\b"
df["Year"] = df["Car_Name"].str.extract(pattern)
df

                                             Car_Name    Price  Year
0                1998 Chevrolet C1500 CHEYENNE XC SWB   $3,500  1998
1                               2016 Chevrolet Malibu   $9,500  2016
2                     2014 Chevrolet Spark EV 1LT 1SA   $5,500  2014
3   Buick Verano low miles clean title commuter ga...  $10,200   NaN
4                            2005 Jeep Grand Cherokee   $3,200  2005
5   2017 Mazda Mazda3 5Door Machine Gray Metallic ...  $19,340  2017
6                          Maserati Quattroporte 2016  $38,995  2016
7                 1962 Austin Healey 3000 Mark II BT7  $57,990  1962
8   2005 Nissan 350Z clean title automatic 35th An...   $6,700  2005
9                                  2012 Dodge Charger   $4,860  2012
10                          2005 GMC Envoy XL 4WD SLT     $500  2005
11                                2012 Honda Civic SI  $11,800  2012
12                                Toyota 4Runner 2004  $10,799  2004
13                              Chevrolet Impala 2014  $14,999  2014
14                                  2004 Audi A4 1.8T   $3,800  2004
15                           2017 Audi A4 White sedan  $19,950  2017
16                              Chevrolet Camaro 1991  $11,500  1991
17                          2011 FORD ECONOLINE WAGON  $15,988  2011
18  2015 Jeep Grand Cherokee Brilliant Black Cryst...  $18,370  2015
19                  2007 Land Rover Range Rover Sport   $7,800  2007
20  2008 Honda Odyssey EX-L w/DVD Rear Entertainme...   $7,200  2008
21        2016 Hyundai Tucson Sedona Sunset hatchback  $17,150  2016
22                                     1977 Dodge 600   $1,000  1977
23                             Honda Civic Coupe 2016  $16,999  2016
24                                  1997 Nissan Truck     $600  1997
25                               1996 Chevrolet Tahoe   $1,000  1996
26                         2004 Chevrolet Malibu Base   $1,700  2004
27    2014 Hyundai Accent SE 5-Door 6-Speed Automatic   $1,595  2014
28                      2016 Toyota Camry Black sedan  $16,290  2016
29                                2010 Volkswagen GTI   $5,000  2010
30  2017 Chevy Chevrolet Impala Silver Ice Metalli...  $16,950  2017
31                                   2012 Ford Fiesta   $4,500  2012
32                                  BMW 3 Series 2007   $6,900  2007
33                                     HUMMER-H2-2003  $14,990  2003
34                                 2018 Honda CR-V LX  $23,997  2018
35             2017 Hyundai Sonata Nouveau Blue sedan  $13,350  2017

In [10]:
pattern = r"([0-9]{4})\b"
df["Car_Name"] = df["Car_Name"].str.extract(pattern, "").str.lower()
df.tail()

                          Car_Name    Price Year
1039                 mazda tribute   $1,500  NaN
1040            cadillac el dorado  $37,509  NaN
1041                nissan altima   $19,750  NaN
1042   ford fusion energi titanium  $11,950  NaN
1043                  infiniti q50  $19,990  NaN

## Questions to Answer:

### 1) Make 10 buckets, run a regression model for year and price.
### 2) age  = current year - model year
### 3) frequency for model, regression age vs price

## Cleaning steps:
### 1) Year < 1960 or Year > 2020, remove
### 2) If price is below 1000 and above 100,000
### 3) convert dataframe to csv